<ion-app>
  <ion-menu contentId="main" menuId="main-menu" side="start" swipeGesture="false">
    <!-- Menu content goes here -->
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list class="custom-list">
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/page1">
            <ion-icon name="document"></ion-icon>
            <ion-label>Page1</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/page2">
            <ion-icon name="document"></ion-icon>
            <ion-label>Page2</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/inbox">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Inbox</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/login">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
