<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="notification-icon" (click)="navigateTo('inbox')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
  <div class="profile-container">
    <ion-img src="../../assets/user.png" class="profile-image"></ion-img>
    <ion-label class="profile-label">John</ion-label>
  </div>

  <div class="button-container">
    <ion-button (click)="locationUpdate()">LocationUpdate</ion-button>
    <ion-button (click)="appConversionTracking()">AppConversionTracking</ion-button>
    <ion-button (click)="onTrackEvent()">OnTrackEvent</ion-button>
    <ion-button (click)="navigateTo('page1')">Page1</ion-button>
    <ion-button (click)="navigateTo('page2')">Page2</ion-button>
    <ion-button (click)="navigateTo('inbox')">Inbox</ion-button>
  </div>
</ion-content>
